body {
    background-image: url('spacebackground.png');
    background-repeat: no-repeat;
    height: 100vh;
}

.Nebulon {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 60px;
    top: 200px;
    animation: spin 20s linear infinite;
}

.Zentari {
    position: absolute;
    width: auto;
    height: auto;
    margin-top: 80px;
    margin-left: 15px;
    animation: spin 8s linear infinite;
}

.Glyptoria {
    position: absolute;
    width: 430px;
    height: 310px;
    top: 250px;
    right: 60px;
    animation: spin 27s linear infinite;
}

@keyframes spin {
    100%  {
        transform: rotate(360deg);
    }
}