body {
    background-image: url('spacebackground.png');
    background-repeat: no-repeat;
    margin:0;
}

span{
    color: #cd4242;
}

.Nebulon {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 60px;
    top: 200px;
    animation: spin 20s linear infinite;
}

.Zentari {
    position: absolute;
    width: 330px;
    height: 330px;
    top: 450px;
    right: 550px;
    animation: spin 8s linear infinite;
}

.Glyptoria {
    position: absolute;
    width: 430px;
    height: 310px;
    top: 100px;
    right: -80px;
    animation: spin 27s linear infinite;
}

@keyframes spin {
    100%  {
        transform: rotate(360deg);
    }
}

.intro div{
    padding-inline: 20px;
    padding-block: 5px;
    background-color: white;
    border: 1px solid black;
    border-color: black;
    border-radius: 20px;
    border-width: 2px;
}

.intro p{
    font-family: 'Press Start 2P';
    font-size: 20px;
    color: black;
    line-height: 1.3;
}

.introduction {
    position: absolute;
    opacity: 0%;
    animation-name: textboxAppear;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes textboxAppear {
    100%{background-color: #ffffffad;opacity: 100%;}
}

.ship1 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 300px;
    right: 20px;
}

.ship2 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 500px;
    left: 0px;
    animation: bounce 5s linear infinite;
}

@keyframes bounce {
    0% {left: 0;}
    50% {left: calc(100% +150px);} 
    100% {left: 0;}
  }
  