body {
    background-image: url('spacebackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.Nebulon {
    position: absolute
    width: auto;
    height: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    animation: spin 20s linear infinite;
}

.Zentari {
    position: absolute;
    width: auto;
    height: auto;
    margin-top: 80px;
    margin-left: 15px;
    animation: spin 8s linear infinite;
}

.Glyptoria {
    position: absolute;
    width: auto;
    height: auto;
    margin-top: 50px;
    float: right;
    animation: spin 27s linear infinite;
}

@keyframes spin {
    100%  {
        transform: rotate(360deg);
    }
}